logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
.cache
.target/
/bin
/nbproject
node_modules/
.DS_Store
test-output
.classpath
.project
.settings/
.tmpBin
# TODO: revert this ignore of experimental test
tests/src/test/scala/akka/kafka/scaladsl/EmbeddedKafkaWithMetricsSpec.scala

