language: scala
sudo: false
scala:
  - "2.11.12"
jdk:
  - oraclejdk8
  - oraclejdk9
script:
  # make 'git branch' work again
  - git branch -f "$TRAVIS_BRANCH" && git checkout "$TRAVIS_BRANCH"
  - sbt -jvm-opts .travis-jvmopts +test
  # check policies, if on master also upload
  - if [[ "$TRAVIS_SECURE_ENV_VARS" == "true" ]]; then if [[ "$TRAVIS_BRANCH" == "master" && "$TRAVIS_EVENT_TYPE" == "push" ]]; then sbt 'set credentials += Credentials("whitesource", "whitesourcesoftware.com", "", System.getenv("WHITESOURCE_KEY"))' whitesourceCheckPolicies whitesourceUpdate; else sbt 'set credentials += Credentials("whitesource", "whitesourcesoftware.com", "", System.getenv("WHITESOURCE_KEY"))' whitesourceCheckPolicies; fi; fi

before_cache:
  # Cleanup the cached directories to avoid unnecessary cache updates
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -print -delete
  - find $HOME/.sbt        -name "*.lock"               -print -delete

cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/boot

env:
  global:
    # encrypt with: travis encrypt WHITESOURCE_KEY=...
    - secure: "WrsJARX85hk+6YojUDLZpQEdHn9PkqIJuxSr5KIbDVUHUQo6H+P4QA5jNPTJjmEh3T+smvkP0doV+ouyZtEkPU0Yzc0f63/5COgROS2mSjDVVAUJlRDgcGfYTAzC5nB7UQEqoQmG2Z7MhkLt3fNSgOxQ3csHLFtkQEVGO+/EQHk="
