<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n%rEx</pattern>
        </encoder>
    </appender>

    <logger name="com.softwaremill.react.kafka" level="DEBUG"/>

    <root level="off">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>