name: CI

on:
  pull_request:
  push:
    branches:
      - master
      - main
      - release-*
    tags-ignore: [ v.* ]

permissions:
  contents: read # allow actions/checkout

env:
  AKKA_TEST_TIMEFACTOR: 10.0
  EVENT_NAME: ${{ github.event_name }}

jobs:
  check-code-style:
    name: Check Code Style
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3.1.0
        with:
          # we don't know what commit the last tag was it's safer to get entire repo so previousStableVersion resolves
          fetch-depth: 0

      - name: Checkout GitHub merge
        if: github.event.pull_request
        run: |-
          git fetch origin pull/${{ github.event.pull_request.number }}/merge:scratch
          git checkout scratch

      - name: Cache Coursier cache
        uses: coursier/cache-action@v6.4.0

      - name: Set up JDK 11
        uses: coursier/setup-action@v1.3.0
        with:
          jvm: temurin:1.11

      - name: Code style check and binary-compatibility check
        # Run locally with: sbt 'verifyCodeStyle ; mimaReportBinaryIssues'
        run: sbt "; verifyCodeStyle; mimaReportBinaryIssues"

  check-code-compilation:
    name: Check Code Compilation
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3.1.0
        with:
          fetch-depth: 0

      - name: Checkout GitHub merge
        if: github.event.pull_request
        run: |-
          git fetch origin pull/${{ github.event.pull_request.number }}/merge:scratch
          git checkout scratch

      - name: Cache Coursier cache
        uses: coursier/cache-action@v6.4.0

      - name: Set up JDK 11
        uses: coursier/setup-action@v1.3.0
        with:
          jvm: temurin:1.11

      - name: Compile all code with fatal warnings for Java 11 and all Scala versions
        # Run locally with: env CI=true sbt 'clean ; Test/compile ; It/compile'
        run: sbt "+Test/compile; +It/compile"

  check-docs:
    name: Check Docs
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3.1.0
        with:
          fetch-depth: 0

      - name: Checkout GitHub merge
        if: github.event.pull_request
        run: |-
          git fetch origin pull/${{ github.event.pull_request.number }}/merge:scratch
          git checkout scratch

      - name: Cache Coursier cache
        uses: coursier/cache-action@v6.4.0

      - name: Set up JDK 17
        uses: coursier/setup-action@v1.3.0
        with:
          jvm: temurin:1.17.0.5

      - name: Create all API docs for artifacts/website and all reference docs
        # Run locally with: sbt verifyDocs
        run: sbt docs/makeSite

  test:
    name: Build and Test
    runs-on: ubuntu-22.04
    needs: [check-code-style, check-code-compilation, check-docs]
    strategy:
      fail-fast: false
      matrix:
        include:
          # other JDKs are covered in `scheduled-builds.yml`
          - { jdkVersion: "1.8.0",  jvmName: "temurin:1.8.0",  extraOpts: '' }
          - { jdkVersion: "1.11.0", jvmName: "temurin:1.11.0", extraOpts: '-J-XX:+UnlockExperimentalVMOptions -J-XX:+UseJVMCICompiler' }
          # { jdkVersion: "1.17.0", jvmName: "temurin:1.17.0", extraOpts: '' }
    steps:
      - name: Checkout
        uses: actions/checkout@v3.1.0
        with:
          fetch-depth: 0

      - name: Checkout GitHub merge
        if: github.event.pull_request
        run: |-
          git fetch origin pull/${{ github.event.pull_request.number }}/merge:scratch
          git checkout scratch

      - name: Cache Coursier cache
        uses: coursier/cache-action@v6.4.0

      - name: Set up JDK ${{ matrix.jdkVersion }}
        uses: coursier/setup-action@v1.3.0
        with:
          jvm: ${{ matrix.jvmName }}

      - name: sbt test
        run: sbt test ${{ matrix.extraOpts }}

      - name: Print logs on failure
        if: ${{ failure() }}
        run: find . -name "*.log" -exec ./scripts/cat-log.sh {} \;

  integration-test:
    name: Integration tests
    needs: [check-code-style, check-code-compilation, check-docs]
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3.1.0
        with:
          fetch-depth: 0

      - name: Checkout GitHub merge
        if: github.event.pull_request
        run: |-
          git fetch origin pull/${{ github.event.pull_request.number }}/merge:scratch
          git checkout scratch

      - name: Cache Coursier cache
        uses: coursier/cache-action@v6.4.0

      - name: Set up JDK 8
        uses: coursier/setup-action@v1.3.0
        with:
          jvm: temurin:1.8

      - name: Run multi-broker and long running integration tests
        run: sbt "tests/IntegrationTest/test"

      - name: Print logs on failure
        if: ${{ failure() }}
        run: find . -name "*.log" -exec ./scripts/cat-log.sh {} \;
  build-benchmark:
    name: Build benchmarks
    needs: [check-code-style, check-code-compilation, check-docs]
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3.1.0
        with:
          fetch-depth: 0

      - name: Checkout GitHub merge
        if: github.event.pull_request
        run: |-
          git fetch origin pull/${{ github.event.pull_request.number }}/merge:scratch
          git checkout scratch

      - name: Cache Coursier cache
        uses: coursier/cache-action@v6.4.0

      - name: Set up JDK 8
        uses: coursier/setup-action@v1.3.0
        with:
          jvm: temurin:1.8

      - name: "Compile benchmark tests"
        run: sbt "benchmarks/IntegrationTest/compile"
