name: Release

on:
  push:
    branches:
      - main
      - main
      - release-*
    tags: ["*"]

permissions:
  contents: read # allow actions/checkout

jobs:
  release:
    # runs on main repo only
    if: github.event.repository.fork == false
    name: Release
    # the release environment provides access to secrets required in the release process
    # https://github.com/akka/alpakka-kafka/settings/environments/84275678/edit
    environment: release
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3.1.0
        with:
          # we don't know what commit the last tag was it's safer to get entire repo so previousStableVersion resolves
          fetch-depth: 0

      - name: Checkout GitHub merge
        if: github.event.pull_request
        run: |-
          git fetch origin pull/${{ github.event.pull_request.number }}/merge:scratch
          git checkout scratch

      - name: Cache Coursier cache
        uses: coursier/cache-action@v6.4.0

      - name: Set up JDK 8
        # https://github.com/coursier/setup-action/releases
        # v1.3.0
        uses: coursier/setup-action@70323223454ac2a9eb2de46f389b4d045cbcdea5
        with:
          jvm: adopt:1.8.0-275

      - name: Publish artifacts for all Scala versions
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
        run: sbt ci-release

  documentation:
    # runs on main repo only
    if: github.event.repository.fork == false
    name: Documentation
    # the release environment provides access to secrets required in the release process
    # https://github.com/akka/alpakka-kafka/settings/environments/84275678/edit
    environment: release
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3.1.0
        with:
          # we don't know what commit the last tag was it's safer to get entire repo so previousStableVersion resolves
          fetch-depth: 0

      - name: Checkout GitHub merge
        if: github.event.pull_request
        run: |-
          git fetch origin pull/${{ github.event.pull_request.number }}/merge:scratch
          git checkout scratch

      - name: Cache Coursier cache
        uses: coursier/cache-action@v6.4.0

      - name: Set up JDK 17
        uses: coursier/setup-action@v1.3.0
        with:
          jvm: temurin:1.17.0.5

      - name: Publish API and reference documentation
        env:
          GUSTAV_KEY: ${{ secrets.GUSTAV_KEY }}
        run: |+
          eval "$(ssh-agent -s)"
          echo $GUSTAV_KEY | base64 -di > .github/id_rsa
          chmod 600 .github/id_rsa
          ssh-add .github/id_rsa
          sbt "docs/publishRsync"
